<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="login" method="post">
        <label>
            login <br/>
            <input type="text" name="login" value="user7">
        </label>
        <br/>
        <label>
            password<br/>
            <input type="password" name="password" value="11111">
        </label>
        <br/><br/>
        <input type="submit" value="Перейти к списку пользователей">
    </form>
</div>
</body>
</html>