<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/roll.log</file>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archive/roll-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- each file should be at most 1MB, keep 60 days worth of history, but at most 20MB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="LoggerRollingPolicyExampleLogName" level="info" >
        <appender-ref ref="ROLLING" />
    </logger>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
